API_ID=17075103
API_HASH=097920d1b5cd9c2d417c60ce680b9c43
AUTO_LEAVING_ASSISTANT=True
BOT_TOKEN=5719610160:AAG0_LxO-82aOTWMcsPp__QWb0RGcN4dwo0
DURATION_LIMIT=5000
MONGO_DB_URI=mongodb+srv://kazu:kazu@cluster0.m9z0tpc.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001837838911
MUSIC_BOT_NAME=Kazu x Robot
OWNER_ID=5063062493
STRING_SESSION1=BQB8PO9lhYyPaT6BCw_RQ09Uo23NzZ3JcZ8NF0TTCHFo47O-LOqPB9o64gX4IxprKfRvvdtnTqDvf5s2JkxQ25hpO-1ps8sajUcCq96sfqWmkF1sbhGWbLKWEOjMBA3G1cUuRtUn18Zo3uJphGtGQmssnObtzfndd8tlUHjSJMjTb1JExDbJTne_uUhk5NqNoGqhZvRHMCQt19Gpme83424fAAxM012KxYdb9Q1OUB1oyAZJT6thLpHJXmBg-31klhHHdob6g6T6L_Qft75XahSlTq2VktbdINk4tNzRBrVVGoTNyitGVYx6g-U8DNprpS51llt2MZ2I2CvB-_MWa_zHAAAAAUsveLYA
STRING_SESSION2=BQBzXQ8UPxiSL6IgDm0HCdEEcTrojKrwOOcYee7oWE2uitY08zYBkbetrSHjLpNvHHZkRkLXiaTcK_jiGnAlFps-xWeFdJQTmkrD6T0Ym6vSrCft9tggbt0qszuFeCYr7D9voqhBnpkT_2LMrar6wUjIjx6J0VxeNBa9r-zEYLZDxzWrAdBUuD5jLdt_n_J6FZiO5k9e-v434wjsmlQASeOLJ8WT7KtgjMIqM5kfEdQZw2wTXS2buqiWczkFDeMhE7M7QPJPVVyDwRvF6xoyu2Uxfq8yI_csx2_L5e3qLvW4onVsNwdiIeHINZOFsdRVifvim4VbEgndhaHRk9rGDGCmPB1IrgA
STRING_SESSION3=BQDF3-g0hnbUsIis6ui9GlXf8LcT1c84TX5ItjHTXyNKQUzIjbjorqBgprzTKA9uDc-QB64I9NsyVWyWWX-YTP13ocgh8GnYxxn7iDCqCtjFzCSequj_6-8r3CsvfMzg2EOsB_-NDYEHbi0BWdGFQFir0fw-uMYIeOmXuKh5T1w1cZOTd-j3MHlnDeU1eONbdTn18TSKWhtU88jnUSq8lUPifGQXkLED_g4xx6ieHijDjpbGdcTtLy3UK9BsxaKmmhuaOsV3N4ysPYSL0KHuX1DWFGU_mE52y9ByAbXmqZiqPxqgLPpwTnjZiMLXfzp80CYXzmiZH4Njtu7FTyn3ze_JAAAAAUGQpHMA
UPSTREAM_BRANCH=main
UPSTREAM_REPO=https://github.com/ionmusic/PrimeMusic
